header{
  background-color:#4169e1;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  height: 30px;
}

nav{
 list-style-type: none; /* Remove bullets */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
li{
  padding-left: 15px;
}

h1{
  font-size: 100px;
  text-align: center;
}
main{
  padding: 10px 10px 10px 20px;
  background-color: #daa520;
  height: 100vh;
}

#code--javascript{
  padding-top:10px;  
}

footer{
  margin-top: 20px;
  padding: 10px;
  font-size: 0.5rem;
  position: absolute;
  bottom:0;
}
