.newspaper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  grid-template-rows: auto; /* rows will size to fit their content */
  grid-gap: 20px; /* add some space between cells */
}

/* Styles for the header */
.newspaper .header {
  grid-column: 1 / 4; /* span all 3 columns */
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
}

/* Styles for the main article */
.newspaper .main-article {
  grid-column: 2 / 4; /* span the last 2 columns */
  grid-row: 2 / 3; /* start on the second row and span 1 row */
  background-color: #fff;
  color: #333;
  font-size: 18px;
  padding: 20px;
}

/* Styles for the sidebar */
.newspaper .sidebar {
  grid-column: 1 / 2; /* span the first column */
  grid-row: 2 / 4; /* start on the second row and span 2 rows */
  background-color: #eee;
  color: #333;
  font-size: 14px;
  padding: 20px;
}

/* Styles for the footer */
.newspaper .footer {
  grid-column: 1 / 4; /* span all 3 columns */
  grid-row: 4 / 5; /* start on the fourth row and span 1 row */
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 20px;
}

.link-list {
  list-style: none; /* remove the bullet points */
}

.link-list a {
  text-decoration: none; /* remove the underline for the links */
  color: #333; /* set the color of the links */
  font-size: 5vh;
}

.link-list a:hover{
  text-decoration: none; /* remove the underline for the links */
  color: blue; /* set the color of the links */
  font-size: 7vh;
}

/* Style the buttons and text */
button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#text {
  font-size: 24px;
  color: #333;
  margin: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(211, 211, 211);
  //border: 1px solid #ddd;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 10px;
  flex: 0 0 auto;
  transition: all 0.3s ease;
  position: relative;
}

.card-header {
  background-color: rgb(169, 169, 169);
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.card-expanded {
  display: none;
  background: #fafafa;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  /*flex: 2 0 auto;  This expands the width of the card to fill the available space */
  width: 500px;
  background-color: rgb(0, 210, 210);
}

.card.expanded .card-body {
  display: none;
}

.card.expanded .card-expanded {
  display: block;
}

.card.expanded + .card {
  margin-left: calc(300px + 20px); /* Move the neighboring card to the side */
}

.btn-expand,
.btn-collapse {
  background: #ddd;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn-expand:hover,
.btn-collapse:hover {
  background: #ccc;
}

