* {
    box-sizing: border-box;
}
body{
    background:grey;
}
body{
    background-color: #1A1B21;
    color: white;
    margin: 20px 116px;
    width: 317px;
    font-family: 'Inter';
    font-style: normal;
}

.Name, .Job, .WebsiteLink, .Email {
    text-align: center  
}
.Name {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}
.Job {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
}
.WebsiteLink {
}

.ButtonsContainer{
    display:flex;
    flex-direction: row;
}

.EmailButton{
    width:50%;
    color:black;
    padding: 9px 13px 9px 11px;
    /* white */
    background: #FFFFFF;
    /* gray/300 */
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.LinkdinButton{
    width:50%;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    background: #5093E2;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.aboutMe--title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.interests--title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

footer{
    display: flex;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    justify-content: space-around;
}
