.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  background-color: rgb(170, 226, 233);
}

.App {
  background-color: burlywood;
}

#footer {
  background-color: rgb(170, 226, 233);
  display: flex;
}
