body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
}

#logo {
    width: 300px;
}

.map {
    height: 400px;
    margin: 20px auto;
    width: 80%;
}
