body{
  font-size:20px;
  font: 'Papyrus';
  background-color: #ffdead;
}


.hero-image {
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  
    url("https://www.publicdomainpictures.net/pictures/290000/velka/rooster-vintage-banner.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

.container {
  padding: 2ch;
  margin: 2ch;
  width: 75ch;
  height: 20ch;
}
 
.rowOfButtons{
  border: 2px solid black;
  border-radius: 15px; 
  background-color: #8080FF;
  padding: 10px 10px;
  margin: 10px 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.button {
  border: 1px solid 'black';
  color: black;
  background-color: #f19cbb;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  flex: 2 1 auto;
}

#buttonGreen {
  background-color: #3b7a57; 
}
#buttonBlue {
  background-color: #72a0c1;
} 
#buttonRed {
  background-color: #e52b50;
} 
#buttonReset {
  background-color: rgb(128,128,128); 
} 

